@font-face {
    font-family: "RobotoFake + MaoKenTangYuan (be";
    src: url("Maoken.eot"); /* IE9 */
    src: url("Maoken.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Maoken.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Maoken.woff") format("woff"), /* chrome, firefox */
    url("Maoken.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Maoken.svg#RobotoFake + MaoKenTangYuan (be") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


